Host bt-workstation
  Hostname 127.0.0.1
  User pschless
  Port 51322
Host cronbox-pinterest
  Hostname ec2-23-20-79-51.compute-1.amazonaws.com

Host *-app *app* *pg*
  User patrick
  ProxyCommand ssh bastion -W %h:%p


Host dash
  Hostname 54.164.97.226
Host monitor
  Hostname 52.23.217.214

Host pts-dev
  Hostname pts-dev.lewiscp.com

Host bastion
  Hostname 52.70.158.82
  IdentityFile ~/.ssh/id_rsa.aws
  User admin

Host unifi-controller
  User pi
